.blog_outer {
  display: grid;
  gap: var(--space-xl);
  margin-block: var(--space-l);
}

@media screen and (min-width: 60em) {
  .blog_outer {
    grid-template-columns: 1fr 1fr;
  }
}

.blog_item {
  background-color: var(--lightest-grey);
  padding: var(--space-m);
  cursor: pointer;
}

.blog_title,
.blog_tag,
.blog_author {
  font-weight: 700;
}

.blog_title,
.blog_tag {
  text-transform: uppercase;
}

.blog_tag,
.blog_author {
  font-size: var(--step-0) !important;
}

.blog_tag {
  color: var(--gold-1);
}

.blog_title {
  font-size: var(--step-2);
  margin-block: var(--space-xs);
  font-weight: 900;
}
