.generate_password_outer {
  background-color: rgb(78, 77, 77);
  padding: var(--space-l);
  font-size: var(--step-1);
  border-radius: 9px;
  color: #fff;
  margin-block: var(--space-l);
  max-width: 30em;
  margin-inline: auto;
}

.generate_password_outer > button {
  padding: var(--space-xs);
  font-size: var(--step-1);
  border: none;
  background-color: rgb(72, 170, 250);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: var(--space-xl);
}

.generate_password_outer > button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  color: #fff9;
}

.password_length_outer {
  margin-bottom: var(--space-xs);
}

.password_length_outer input {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  outline: none;
  border: 1px solid;
  padding: var(--space-3xs) var(--space-2xs);
  width: var(--space-4xl);
  text-align: right;
}

.password_length_outer input::-webkit-outer-spin-button,
.password_length_outer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.password_length_outer input {
  appearance: textfield;
}

.password_range {
  gap: 0.5em;
  margin-bottom: var(--space-xs);
}

.password_range input {
  cursor: pointer;
  flex-grow: 1;
}

.password_setting {
  display: grid;
  row-gap: 0.25em;
}

@media screen and (min-width: 40em) {
  .password_setting {
    grid-template-columns: auto auto;
  }
}

.password_setting input[type='checkbox'] {
  cursor: pointer;
  -ms-transform: scale(1.8); /* IE */
  -moz-transform: scale(1.8); /* FF */
  -webkit-transform: scale(1.8); /* Safari and Chrome */
  -o-transform: scale(1.8); /* Opera */
  transform: scale(1.8);
  padding: 0.5em;
  transform-origin: left;
}

.password_setting label {
  margin-left: 0.8em;
  cursor: pointer;
}

.password_setting input[type='checkbox']:disabled + label{
  color: #ccc;
}


.generate_text {
  color: #000;
}
